<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create new User</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
<script src="/js/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
<script src="/js/ng-file-upload/dist/ng-file-upload.min.js"></script>

<!-- trying to use base64 image convertion library  -->

<script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
<!-- //use this script to write upload code  -->
  <script src="js/uploadimage.js"></script>

</head>

<body ng-app="myApp" ng-controller="myCtrl">

</body>


</html>
